python==3.7
Flask==1.0.2
jsonmerge==1.6.1
schedule==0.6.0
flask_sqlalchemy==2.4.3
flask-cors==3.0.8
werkzeug==0.16.1
pandas==1.0.4
psycopg2==2.8.5
Flask-RESTful==0.3.8
matplotlib==3.2.1
opencv-python==4.2.0.34
numpy==1.18.5
python-dotenv==0.13.0
requests==2.23.0
setuptools==47.1.1
plotly

